doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="./styles/styles.css", rel="stylesheet")
    block head
  body
    header
      .flex.bg-slate-300.py-4.justify-center.items-center.px-5
        .flex.justify-between.items-center.w-full.max-w-7xl
          div.flex
            a(href="/")
              div.font-extrabold.ml-10.mr-10 Okta Playground
            a(href="/test-api?location=seoul" class="hover:underline") Protected Route
          if !isOktaAuthenticated
            a(href="/auth/login")
              div.mr-10.px-2.py-1.border-2.border-indigo-700.rounded-md.bg-indigo-700.text-white(class="hover:bg-indigo-300 hover:text-gray-800 cursor-pointer") Login
          else
            a(href="/auth/logout")
              div.mr-10.px-2.py-1.border-2.border-indigo-700.rounded-md.bg-indigo-700.text-white(class="hover:bg-indigo-300 hover:text-gray-800 cursor-pointer") Logout 

    .flex.justify-center
      .flex.flex-col.justify-start.items-center.min-h-screen.max-w-7xl
        block content

