extends layout.pug

block head 
  title This is weather page!

block content
  .flex.items-center.justify-center.mt-12
    div.text-gray-700.text-2xl.mr-2
      p You are successfully authenticated to access this page!